* {
  box-sizing: border-box;
  font-family: italic;
}

body {
  margin: 0;
  background-color: rgb(55, 55, 116);
  color: #fff;
}
header{
  text-align: center;
  font-size: 13px;
  opacity: 0.6;
  border: 2px solid black;
  background-color: rgb(16, 16, 59);
}
.app-container {
  max-width: 420px;
  margin: 40px auto;
  padding: 25px;
  background-color:rgb(41, 41, 85) ;
  border-radius: 50px;
  box-shadow: 0 0 50px rgba(239, 242, 243, 0.3);
}

h1 {
  text-align: center;
  color: #cfd8ff;
}

.search-box input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: #48abab;
  color: #fff;
}

.add-task {
  display: flex;
  gap: 6px;
  margin-top: 15px;
}

.add-task input[type="text"] {
  flex: 1;
}

.add-task input,
.add-task button {
  padding: 10px;
  border-radius: 8px;
  border: none;
}

.add-task button {
  background: rgb(56, 55, 55);
  color: #fff;
  cursor: pointer;
}

#counter {
  margin-top: 10px;
  opacity: 0.6;
}

.filters {
  display: flex;
  justify-content: space-around;
  margin: 15px ;
}

.filters button {
  border: none;
  padding: 5px 14px;
  border-radius: 20px;
  cursor: pointer;
}

.filters .active {
  background: #fff;
  color: #000;
}

.select-all {
  display: flex;
  align-items: center;
  gap: 6px;
}

#task-list {
  list-style: none;
  padding: 0;
}

.task-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px;
  border-bottom: 1px solid rgb(128, 128, 128) ;
 
}

.task-text {
  flex: 1;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

.overdue {
  background: rgba(255, 0, 0, 0.15);
  border-left: 4px solid red;
}

.edit-btn,
.delete-btn {
  background: none;
  border-radius: 2px;
  cursor: pointer;
  color: white;
}

#empty-msg {
  text-align: center;
  opacity: 0.6;
}

footer {
  margin-top: 70px;
  text-align: center;
  font-size: 13px;
  opacity: 0.6;
  border: 2px solid black;
  background-color: rgb(16, 16, 59);
}

